@{
    ViewData["Title"] = "Index";
}

<p>Welcome to Assignment 2 created by Justain Tremblay<br /> The course has been fun. My only issue is in combination with the oher courses it makes for a heavy course load in level 5.(This course is moving to level 6 in the future so the problem has already been solved)</p>