@model Assignment2.Models.ViewModels.FileInputViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Upload</h1>

<h4>Upload an Advertisement for @ViewData["CommunityTitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <div class="btn btn-sm float-left">
                    <input name="file" type="file">
                </div>
            </div>

            <div class="form-group">
                <input name="Id" type="hidden" value="@ViewData["CommunityId"]">
                <input type="submit" value="Upload Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
